*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
li {
  list-style-type: none;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.header-all {
  border-bottom: 1px solid #e7e9fc;
}
.cont-nav-addr {
  display: flex;
  align-items: center;
}
.logo-conteyner {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.navigator {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo-st {
  color: #2e2f42;
}
.list-main {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  list-style-type: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
.list-main:hover,
.list-main:focus {
  color: #404bbf;
}
.list-link {
  display: flex;
  gap: 40px;
}
.sect-effect {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.blok-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}
.blok-btn {
  display: block;
  background: #4d5ae5;
  color: #fff;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.blok-btn:hover,
.blok-btn:focus {
  background-color: #404bbf;
}
.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  display: block;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.our-goals-spus {
  display: flex;
  list-style: none;
  gap: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.goals-four {
  width: calc((100% - 72px) / 4);
}
.our-goals-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-goals-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.group-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.group-section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.section-team {
  background: #f4f4fd;
  padding: 120px 0;
}
.team {
  display: flex;
  gap: 24px;
}
.all-team {
  background-color: #f4f4fd;
}
.team-color {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.cont-h-team {
  padding: 32px 0 32px;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.img-portfolio {
  width: calc((100% - 48px) / 3);
}
.portf1 {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portf-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portf-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-blok {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-cont-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
}
.logo-st-footer {
  color: #f4f4fd;
}
.footer-blok-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
